@Model List<ForestFire.Web.Entry.Controllers.SwaggerDoc>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="Aspose.Words for .NET 15.1.0.0" />
    <title>
    </title>
</head>

<body>
    @foreach (var item in Model)
    {
        <div>
            <h3 style="font-size:16pt; line-height:150%; margin:13pt 0pt; orphans:0; page-break-after:avoid; text-align:justify; text-indent:24pt; widows:0">
                <a name="_Toc57203214">
                    <span style="font-family:宋体; font-size:16pt; font-weight:bold">
                        @item.Summary
                    </span>
                </a>
            </h3>
            <div style="text-align:center">
                <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto">
                    <tr>
                        <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    接口名称
                                </span>
                            </p>
                        </td>
                        <td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:316.95pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:'Times New Roman'; font-size:12pt">
                                    @item.Summary
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    接口地址
                                </span>
                            </p>
                        </td>
                        <td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:316.95pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:'Times New Roman'; font-size:12pt">
                                    @item.Url
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    接口描述
                                </span>
                            </p>
                        </td>
                        <td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:316.95pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    @item.Summary
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    请求方式
                                </span>
                            </p>
                        </td>
                        <td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:316.95pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:'Times New Roman'; font-size:12pt">
                                    @item.Method
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    请求参数
                                </span>
                            </p>
                        </td>
                        <td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:316.95pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:'Times New Roman'; font-size:12pt">
                                    &#xa0;
                                </span>
                            </p>
                        </td>
                    </tr>
                    @if (item.QueryParameters != null && item.QueryParameters.Count > 0)
                    {

                        <tr>
                            <td rowspan="@(item.QueryParameters.Count+1)" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        请求参数说明
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:75.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        字段名称
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:162.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        说明
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:57.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        是否必填
                                    </span>
                                </p>
                            </td>
                        </tr>
                        @foreach (var param in item.QueryParameters)
                        {
                            <tr>
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:75.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.Name
                                        </span>
                                    </p>
                                </td>
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:162.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.Description
                                        </span>
                                    </p>
                                </td>
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:57.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.IsRequired
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                    @if (item.BodyParameters != null && item.BodyParameters.Count > 0)
                    {
                        <tr>
                            <td rowspan="@(item.BodyParameters.Count+1)" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        请求参数说明
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:75.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        字段名称
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:162.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        说明
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:57.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        是否必填
                                    </span>
                                </p>
                            </td>
                        </tr>
                        @foreach (var param in item.BodyParameters)
                        {
                            <tr>
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:75.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.Name
                                        </span>
                                    </p>
                                </td>
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:162.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.Description
                                        </span>
                                    </p>
                                </td>
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:57.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.IsRequired
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:宋体; font-size:12pt">
                                    返回值
                                </span>
                            </p>
                        </td>
                        <td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:316.95pt">
                            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                <span style="font-family:'Times New Roman'; font-size:12pt">
                                    {}
                                </span>
                            </p>
                        </td>
                    </tr>
                    @if (item.ResParameters != null && item.ResParameters.Count > 0)
                    {
                        <tr style="height:23.4pt">
                            <td rowspan="@(item.ResParameters.Count+1)" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:76.25pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        返回值说明
                                    </span>
                                </p>
                            </td>
                            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:75.45pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        字段名称
                                    </span>
                                </p>
                            </td>
                            <td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:230.7pt">
                                <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                    <span style="font-family:宋体; font-size:12pt">
                                        说明
                                    </span>
                                </p>
                            </td>
                        </tr>
                        @foreach (var param in item.ResParameters)
                        {
                            <tr style="height:23.4pt">
                                <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:75.45pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.Name
                                        </span>
                                    </p>
                                </td>
                                <td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:230.7pt">
                                    <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0">
                                        <span style="font-family:'Times New Roman'; font-size:12pt">
                                            @param.Description
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        }

                    }
                    <tr style="height:0pt; display:none">
                        <td style="width:87.05pt; border:none">
                        </td>
                        <td style="width:86.25pt; border:none">
                        </td>
                        <td style="width:173.25pt; border:none">
                        </td>
                        <td style="width:68.25pt; border:none">
                        </td>
                    </tr>
                </table>
            </div>
            <p style="font-size:12pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; text-indent:10pt; widows:0">
                <span style="font-family:'Times New Roman'; font-size:12pt">
                    &#xa0;
                </span>
            </p>
        </div>
    }
    <div class="cnzz" style="display: none;">
        <script src="https://s23.cnzz.com/z_stat.php?id=1277655852&web_id=1277655852"
                language="JavaScript">
        </script>
    </div>
    <div class="docpe" style="position: absolute;color: white;margin-left:-450;">
        <a target="_blank" href="http://www.docpe.com">
            档铺网——在线文档免费处理
        </a>
    </div>
</body>

</html>